.animation-fade {
    animation: fadein 1s !important;
    -moz-animation: fadein 1s !important; /* Firefox */
    -webkit-animation: fadein 1s !important; /* Safari and Chrome */
    -o-animation: fadein 1s !important; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}